<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
              <h1>The Cookie Billing</h1>
              <p>Subscribe below to our online food ordering program.</p>
            </div>            
        </div>
    </div>
    <div class="row">
        <!-- Plans -->
           <%= render 'pages/plans' %>
        <!-- /Plans -->
    </div>
    
    
    
    
    
</div> <!-- end container -->