<h1>THIS IS PLANS!</h1>
 <section id="plans">
        <div class="container">
            <div class="row">
                
                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Pro Plan</h3>
                            <small>POS integration, apps &amp; website - the full package!</small>
                        </div>
                        <div class="panel-body text-center">
                            <p><small style="font-size: 17px;">$</small><strong>149</strong><small>/mo</small></p>
                            <p style="font-size: 14px; color: #398439;"><em>waved on monthly volume of $14,999+ </em></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Everything From Grower &amp; Starter Plan</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> POS Integration</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Marketing Launch Package</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Brand New Free Website <small>(Provided by RestyCMS)</small></li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Grower Plan</h3>
                             <small>Do you want mobile apps too? This plan is for you.</small>
                        </div>
                         <div class="panel-body text-center">
                            <p><small style="font-size: 17px;">$</small><strong>119</strong><small>/mo</small></p>
                            <p style="font-size: 14px; color: #d58512;"><em>waved on monthly volume of $9,999+ </em></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Everything From Starter Plan</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> iPhone &amp; Android Mobile Apps</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Accept Interac Debit <small>(Canadian merchants only)</small></li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Marketing Services</small></li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-warning" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                
                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Starter Plan</h3>
                            <small>Getting started? Try our intro plan.</small>
                        </div>
                        <div class="panel-body text-center">
                            <p><small style="font-size: 17px;">$</small><strong>59</strong><small>/mo</small></p>
                            <p style="font-size: 14px; color: #d43f3a;" ><em>waved on monthly volume of $4,999+ </em></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Ordering Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited Orders</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Accept Credit Cards</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> The Cookie Printer</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    
    <div class="container" style="margin-top: 70px; margin-bottom: 70px;">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center;">Features Available on All Plans</h2>
                <!-- Pack 1-->
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Web Ordering</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Facebook Ordering</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Accept Credit Cards</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Tax Management</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Delivery Zones/Fees</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Advance Orders</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Delivery Hours / Open Hours</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Half/Half Pizza Topping Pickers</li>
                        <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span> Group Ordering</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container" style="margin-top: 70px; margin-bottom: 70px;">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center;">Free Initial Menu Entry</h2>
                <!-- Pack 1-->
                <p style="text-align: center;">Our team will enter your menu to get you up and running quickly!</p>
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-top: 70px; margin-bottom: 70px;">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center;">Credit Card Processing</h2>
                <!-- Pack 1-->
                <p style="text-align: center;">We recommend allowing customers to pre-pay with credit cards</p>
                <div class="col-md-6 col-md-offset-3 text-center">
                     <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Payment Processing Fees</h3>
                            <small>*Discounts available on higher volume</small>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>5% + $0.10</strong><small style="font-size: 15px;">/trans</small></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Connect Your Existing Bank Account</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Visa, MasterCard, AMEX, Discover</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Interac Online (Canadian merchants only)</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> No Hidden Fees</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> No Fixed Monthly Fees</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> No Contract - Cancel Anytime</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Quickbooks Supported</li>
                        </ul>
                        <div class="panel-footer">
                            <h4>Discounts are available:</h4>
                            <table class="table table-striped custab">
                                <thead>
                                    <tr>
                                        <th class="text-center">Monthly Volume</th>
                                        <th class="text-center">New Rate</th>
                                    </tr>
                                </thead>
                                        <tr>
                                            <td class="text-center">$10,000</td>
                                            <td class="text-center">4.5% + $0.10</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">$20,000</td>
                                            <td class="text-center">4.1% + $0.10</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">$30,000</td>
                                            <td class="text-center">3.7% + $0.10</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">$40,000</td>
                                            <td class="text-center">3.3% + $0.10</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">$50,000+</td>
                                            <td class="text-center">2.9% + $0.10</td>
                                        </tr>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <%= render 'subscriptions/creditcard' %>
    